# Diretórios e arquivos gerados pelo Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log

# Arquivos sensíveis e de credenciais
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs e arquivos temporários
*.log
*.backup
